ul {
    list-style: none;
}
a{
   text-decoration: none;

/* основний колір #212121; */
/* другорядний колір  #757575; */
/* акцент #2196F3; */
/* білий #FFFFFF; */

/* лого */


.logo-blue{
    color:#2196F3 ;
}

/* site nav */
.site-nav{
    color:#212121;
}